name: E-Commerce Microservices CI

on:
  push:
    branches: [ "main" ]

jobs:
  build-test-sonar:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Java 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      # ===================== Product Service =====================
      - name: Build & Test - Product Service
        run: |
          cd ProductService
          mvn clean test

      - name: Sonar - Product Service
        run: |
          cd ProductService
          mvn org.sonarsource.scanner.maven:sonar-maven-plugin:3.10.0.2594:sonar \
            -Dsonar.projectKey=mukul123416_product-service \
            -Dsonar.organization=mukul123416 \
            -Dsonar.host.url=https://sonarcloud.io \
            -Dsonar.login=${{ secrets.SONAR_TOKEN }}

      # ===================== Order Service =====================
      - name: Build & Test - Order Service
        run: |
          cd OrderService
          mvn clean test

      - name: Sonar - Order Service
        run: |
          cd OrderService
          mvn org.sonarsource.scanner.maven:sonar-maven-plugin:3.10.0.2594:sonar \
            -Dsonar.projectKey=mukul123416_order-service \
            -Dsonar.organization=mukul123416 \
            -Dsonar.host.url=https://sonarcloud.io \
            -Dsonar.login=${{ secrets.SONAR_TOKEN }}

      # ===================== Payment Service =====================
      - name: Build & Test - Payment Service
        run: |
          cd PaymentService
          mvn clean test

      - name: Sonar - Payment Service
        run: |
          cd PaymentService
          mvn org.sonarsource.scanner.maven:sonar-maven-plugin:3.10.0.2594:sonar \
            -Dsonar.projectKey=mukul123416_payment-service \
            -Dsonar.organization=mukul123416 \
            -Dsonar.host.url=https://sonarcloud.io \
            -Dsonar.login=${{ secrets.SONAR_TOKEN }}

      # ===================== User Service =====================
      - name: Build & Test - User Service
        run: |
          cd UserService
          mvn clean test

      - name: Sonar - User Service
        run: |
          cd UserService
          mvn org.sonarsource.scanner.maven:sonar-maven-plugin:3.10.0.2594:sonar \
            -Dsonar.projectKey=mukul123416_user-service \
            -Dsonar.organization=mukul123416 \
            -Dsonar.host.url=https://sonarcloud.io \
            -Dsonar.login=${{ secrets.SONAR_TOKEN }}

      # ===================== Inventory Service =====================
      - name: Build & Test - Inventory Service
        run: |
          cd InventoryService
          mvn clean test

      - name: Sonar - Inventory Service
        run: |
          cd InventoryService
          mvn org.sonarsource.scanner.maven:sonar-maven-plugin:3.10.0.2594:sonar \
            -Dsonar.projectKey=mukul123416_inventory-service \
            -Dsonar.organization=mukul123416 \
            -Dsonar.host.url=https://sonarcloud.io \
            -Dsonar.login=${{ secrets.SONAR_TOKEN }}

      # ===================== API Gateway =====================
      - name: Build & Test - API Gateway
        run: |
          cd ApiGatewayService
          mvn clean test

      - name: Sonar - API Gateway
        run: |
          cd ApiGatewayService
          mvn org.sonarsource.scanner.maven:sonar-maven-plugin:3.10.0.2594:sonar \
            -Dsonar.projectKey=mukul123416_api-gateway-service \
            -Dsonar.organization=mukul123416 \
            -Dsonar.host.url=https://sonarcloud.io \
            -Dsonar.login=${{ secrets.SONAR_TOKEN }}

      # ===================== Config Server =====================
      - name: Build & Test - Config Server
        run: |
          cd ConfigServer
          mvn clean test

      - name: Sonar - Config Server
        run: |
          cd ConfigServer
          mvn org.sonarsource.scanner.maven:sonar-maven-plugin:3.10.0.2594:sonar \
            -Dsonar.projectKey=mukul123416_config-server \
            -Dsonar.organization=mukul123416 \
            -Dsonar.host.url=https://sonarcloud.io \
            -Dsonar.login=${{ secrets.SONAR_TOKEN }}

      # ===================== Notification Service =====================
      - name: Build & Test - Notification Service
        run: |
          cd NotificationService
          mvn clean test

      - name: Sonar - Notification Service
        run: |
          cd NotificationService
          mvn org.sonarsource.scanner.maven:sonar-maven-plugin:3.10.0.2594:sonar \
            -Dsonar.projectKey=mukul123416_notification-service \
            -Dsonar.organization=mukul123416 \
            -Dsonar.host.url=https://sonarcloud.io \
            -Dsonar.login=${{ secrets.SONAR_TOKEN }}

      # ===================== Service Registry =====================
      - name: Build & Test - Service Registry
        run: |
          cd ServiceRegistry
          mvn clean test

      - name: Sonar - Service Registry
        run: |
          cd ServiceRegistry
          mvn org.sonarsource.scanner.maven:sonar-maven-plugin:3.10.0.2594:sonar \
            -Dsonar.projectKey=mukul123416_service-registry \
            -Dsonar.organization=mukul123416 \
            -Dsonar.host.url=https://sonarcloud.io \
            -Dsonar.login=${{ secrets.SONAR_TOKEN }}